img{
    width: 200px;
    height: 200px;

}
h1{
    background-color: chartreuse;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    display: inline-block;
    text-align: center;
}
.polDiv{
   background-color: cornflowerblue;
    width: 250px;
    height: 500px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: 10px dashed maroon;
}
#chandraDiv{
    background-image: url(./images/cycle-removebg-preview.png);
    background-size: contain;
    background-repeat: repeat;
    background-clip:border-box ;
    border: 10px ridge darkgreen;
    
    
}

#pawanDiv{
    background-image: url(./images/janasena-removebg-preview.png);
    background-size: 100px;
    background-repeat: repeat-y;
    background-clip: padding-box;
    background-attachment: scroll;

}
#revanthDiv{
    background-image: url(./images/hand.png);
    background-size: 100px;
    background-repeat:repeat;
    background-attachment: fixed;
    border: 20px dotted darkorange;
    background-clip: padding-box;
   
}
#modiDiv{
    background-image: url(./images/lotus.webp);
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    background-origin: border-box;
}